{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        hato/hato           {:mvn/version "0.9.0"}
        cheshire/cheshire   {:mvn/version "5.13.0"}}
 :aliases
 {:test     {:extra-paths ["test"]
             :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  :build    {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
             :ns-default build}
  :lint     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.09.27"}}
             :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :lint-fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.13.0"}}
             :main-opts  ["-m" "cljfmt.main" "fix" "src" "test"]}}}